@import url(https://fonts.googleapis.com/css?family=Raleway);
.boxstyling {
    position: relative;
    top: 150px;
    height: 350px;
    box-shadow: 0 0 3px black;
}
#randomquotecontainer {
    position: relative;
    top: 50px;
}
#randomquotecontainer p, .person {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
    font-size: 1.6em;
    font-style: italic;
}

.quote {
    height: 50px;
}
.socialicons {
    position: relative;
    top: 135px;
    text-align: center;
}
.socialicons a img{
    padding: 5px;
}
ul.listicons {
    padding-left: 0px;
}
li {
    display: inline;
}
.addbold {
    font-weight: bold;
}
button {
    position: relative;
    height: 2.5em;
    top: 125px;
}
